@font-face {
    font-family: 'VendSans-Regular';
    src: url('C:\Users\light\OneDrive\Documents\Python Projects\Personal Blog\fonts\VendSans-Regular.ttf') format(ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'VendSans-Regular', sans-serif;
}

h1{
    margin-left: 30px
}

input[type="submit"]{
    border-radius: 10px;
    background-color: rgb(145, 145, 145);
    border: 1px;
    font-family: inherit;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: lighter;
    color: white;
}

.top-right-absolute{
    position: absolute;
    top: 30px;
    right: 20px;
}

input{
    color: rgb(236, 236, 236);
    margin-left: 30px;
    background-color: rgb(145, 145, 145);
    height: 25px;
    text-align: center;
    border: 2px solid black;
    border-radius: 3px;
    font-weight: bold;
}

.login-grid{
    display: flex;
    padding-top: 200px;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
}

.article_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article_item{
    display: grid;
    grid-template-columns: 400px 120px 100px;
    font-size: larger;
}

.ul_home{
    display: grid;
    grid-template-columns: 400px;
    gap: 20px;
    font-size: larger;
}

.add_article_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

textarea{
    color: rgb(236, 236, 236);
    margin-left: 30px;
    background-color: rgb(145, 145, 145);
    border: 2px solid black;
    border-radius: 3px;
    font-weight: bold;
    font-size: large;
}