<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <h1>Personal Blog</h1>
    <form action="/return">
        <input type="submit" class="top-right-absolute" value="Log Out" style="width: 100px; height: 30px;">
    </form>
    <form action="/add">
        <input type="submit" value="Add Article" style="width: 120px; height: 50px; font-size: large;">
    </form>
    <ul class="article_list">
        {% for item in pages %}
            <form action="/viewarticle" method="POST" class="article_item"> <!--TODO: Need to add time stamps of when article was created through python-->
                <li><a href="{{url_for('view_page', page_id=item.id)}}">{{item.title}}</a></li>
                <input type="hidden" name="item_id" value="{{item.id}}">
                <input type="submit" value="Edit" name="action" style="width:100px; height: 20px">
                <input type="submit" value="Delete" name="action" style="width:100px; height: 20px">
            </form>
        {% endfor %}
    </ul>
</body>
</html>