<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <h1>Personal Blog</h1>
    <form action="/return">
        <input type="submit" class="top-right-absolute" value="Log Out" style="width: 100px; height: 30px;">
    </form>
    <form action="/add">
        <input type="submit" value="Add Article" style="width: 120px; height: 50px; font-size: large;">
    </form>
    <ul class="article_list">
        <form action="/viewarticle" method="POST" class="article_item">
            <li>Article 1</li>
            <input type="hidden" name="item_id" value="1">
            <input type="submit" value="Edit" name="action" style="width:100px; height: 20px">
            <input type="submit" value="Delete" name="action" style="width:100px; height: 20px">
        </form>
        <form action="/viewarticle" method="POST" class="article_item">
            <li>Article 2</li>
            <input type="hidden" name="item_id" value="2">
            <input type="submit" value="Edit" name="action" style="width:100px; height: 20px">
            <input type="submit" value="Delete" name="action" style="width:100px; height: 20px">
        </form>
                <form action="/viewarticle" method="POST" class="article_item">
            <li>Article 3</li>
            <input type="hidden" name="item_id" value="3">
            <input type="submit" value="Edit" name="action" style="width:100px; height: 20px">
            <input type="submit" value="Delete" name="action" style="width:100px; height: 20px">
        </form>
        <form action="/viewarticle" method="POST" class="article_item">
            <li>Article 4</li>
            <input type="hidden" name="item_id" value="4">
            <input type="submit" value="Edit" name="action" style="width:100px; height: 20px">
            <input type="submit" value="Delete" name="action" style="width:100px; height: 20px">
        </form>
                <form action="/viewarticle" method="POST" class="article_item">
            <li>Article 5</li>
            <input type="hidden" name="item_id" value="5">
            <input type="submit" value="Edit" name="action" style="width:100px; height: 20px">
            <input type="submit" value="Delete" name="action" style="width:100px; height: 20px">
        </form>
        <form action="/viewarticle" method="POST" class="article_item">
            <li>Article 6</li>
            <input type="hidden" name="item_id" value="6">
            <input type="submit" value="Edit" name="action" style="width:100px; height: 20px">
            <input type="submit" value="Delete" name="action" style="width:100px; height: 20px">
        </form>
                <form action="/viewarticle" method="POST" class="article_item">
            <li>Article 7</li>
            <input type="hidden" name="item_id" value="7">
            <input type="submit" value="Edit" name="action" style="width:100px; height: 20px">
            <input type="submit" value="Delete" name="action" style="width:100px; height: 20px">
        </form>
        <form action="/viewarticle" method="POST" class="article_item">
            <li>Article 8</li>
            <input type="hidden" name="item_id" value="8">
            <input type="submit" value="Edit" name="action" style="width:100px; height: 20px">
            <input type="submit" value="Delete" name="action" style="width:100px; height: 20px">
        </form>
    </ul>
</body>
</html>