<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <h1>{{page.title}}</h1>
    <h2>{{page.date}}</h2>
    <p style="white-space: normal; word-break: break-all; margin-left: 30px;">{{page.content}}</p>
    <form action="/return" class="top-right-absolute">
        <input type="submit" value="Back To Home" style="width: 120px; height: 30px;">
    </form>
    <form action="/return" class="top-right-absolute">
        <input type="submit" value="Back To Home" style="width: 120px; height: 30px;">
    </form>
</body>
</html>