<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <h1>Personal Blog</h1>
    <form action="/login">
        <input type="submit" class="top-right-absolute" value="Log In" style="width: 100px; height: 30px;">
    </form>
    <ul id="article-list" class="ul_home"> <!--TODO: Need to add time stamps of when article was created through python-->
        {% for item in pages %}
            <li>
                <a href="{{url_for('view_page', page_id=item.id)}}">{{item.title}}</a>
                <span class="date">{{item.date}}</span>
            </li>
        {% endfor %}
    </ul>
</body>
</html>